<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <% sideNavItems.forEach((sideNavItem) => { %>
    <a class="nav-link <%= activateSideNav.toLowerCase() === sideNavItem.title.toLowerCase() ? 'active' : '' %>" href="<%= sideNavItem.href %>"><%= sideNavItem.title %></a>
  <% }); %>
</div>