<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="nav-link" href="informasi.html">Berita</a>
  <a class="nav-link active" href="agenda.html">Agenda</a>
  <a class="nav-link" href="info-demografis.html">Info Demografis</a>
  <a class="nav-link" href="info-geografis.html">Info Geografis</a>
</div>