<footer>
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-md-2">
        <h6 class="font-weight-bold mb-3">Kontak</h6>
        <ul>
          <li class="text-secondary">Desa Tunreng Tellue</li>
          <li class="text-secondary">Sibulue, Kabupaten Bone </li>
          <li class="text-secondary">Sulawesi Selatan, 92781</li>
          <li class="text-secondary">+628114556770</li>
          <li class="text-secondary">tunrengtellue@info.co.id</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="font-weight-bold mb-3">Informasi</h6>
        <ul>
          <li><a href="informasi.html">Berita</a></li>
          <li><a href="agenda.html">Agenda</a></li>
          <li><a href="info-geografis.html">Info geografis</a></li>
          <li><a href="info-demografis.html">Info Demografis</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="font-weight-bold mb-3">Profil</h6>
        <ul>
          <li><a href="profil.html">Sejarah</a></li>
          <li><a href="visimisi.html">Visi dan Visi</a></li>
          <li><a href="asetdesa.html">Asset Desa</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="font-weight-bold mb-3">Lembaga</h6>
        <ul>
          <li><a href="lembaga.html">Pemerintah Desa</a></li>
          <li><a href="bpd.html">BPD</a></li>
          <li><a href="pkk.html">PKK</a></li>
          <li><a href="karangtaruna.html">Karang Taruna</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="font-weight-bold mb-3">Tentang</h6>
        <ul>
          <li><a href="tentang.html">Sarana dan Prasarana</a></li>
          <li><a href="tentang.html">Pertanian dan Perekonomian</a></li>
          <li><a href="tentang.html">Budaya dan Pariwisata</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="font-weight-bold mb-3">Data</h6>
        <ul>
          <li><a href="data.html">Regulasi</a></li>
          <li><a href="data.html">Transparansi Anggaran</a></li>
          <li><a href="data.html">Formulir Layanan Desa</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="mt-3">
      <!-- <div class="row mt-3"> -->
      <div class="float-left">
        <!-- <hr class="float-left" style="width:40%;"> -->
        <p class="">&copy <%= copyrightYear %> <%= villageName %> <%= districtName %> </p>
        <!-- <hr class="float-left" style="width:25%;"> -->
      </div>

      <div class="float-right social-icon">
        <a href=""><i class="fab fa-facebook-square"></i></a>
        <a href=""><i class="fab fa-twitter-square"></i></a>
        <a href=""><i class="fab fa-linkedin"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  </div>
</footer>