<section class="global-section informasi pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-8 .offset-md-2">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Berita</h3>

        <div class="card bg-white">
          <div class="row">
            <div class="col-md-9">
              <div class="card-body">
                <a href="detail.html">
                  <h5 class="card-title font-weight-bold">Lorem ipsum, dolor sit amet consectetur
                    adipisicing...</h5>
                </a>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio accusantium, rerum
                  repellat
                  tenetur
                  nobis maiores.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="img-1" class="img-item"></div>
              <style>
                #img-1 {
                    background-image: url('/images/img-item.jpg');
                  }
                </style>
            </div>
          </div>
        </div>

        <div class="card bg-white">
          <div class="row">
            <div class="col-md-9">
              <div class="card-body">
                <a href="">
                  <h5 class="card-title font-weight-bold">Lorem ipsum, dolor sit amet consectetur
                    adipisicing...</h5>
                </a>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio accusantium, rerum
                  repellat
                  tenetur
                  nobis maiores.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="img-2" class="img-item"></div>
              <style>
                #img-2 {
                  background-image: url('/images/img-item2.jpg');
                }
              </style>
            </div>
          </div>
        </div>

        <div class="card bg-white">
          <div class="row">
            <div class="col-md-9">
              <div class="card-body">
                <a href="detail.html">
                  <h5 class="card-title font-weight-bold">Lorem ipsum, dolor sit amet consectetur
                    adipisicing...</h5>
                </a>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio accusantium, rerum
                  repellat
                  tenetur
                  nobis maiores.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="img-3" class="img-item"></div>
              <style>
                #img-3 {
                  background-image: url('/images/img-item3.jpg');
                }
              </style>
            </div>
          </div>
        </div>

        <div class="card bg-white">
          <div class="row">
            <div class="col-md-9">
              <div class="card-body">
                <a href="detail.html">
                  <h5 class="card-title font-weight-bold">Lorem ipsum, dolor sit amet consectetur
                    adipisicing...</h5>
                </a>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio accusantium, rerum
                  repellat
                  tenetur
                  nobis maiores.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="img-4" class="img-item"></div>
              <style>
                #img-4 {
                  background-image: url('/images/img-item2.jpg');
                }
              </style>
            </div>
          </div>
        </div>

        <div class="card bg-white">
          <div class="row">
            <div class="col-md-9">
              <div class="card-body">
                <a href="detail.html">
                  <h5 class="card-title font-weight-bold">Lorem ipsum, dolor sit amet consectetur
                    adipisicing...</h5>
                </a>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio accusantium, rerum
                  repellat
                  tenetur
                  nobis maiores.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="img-5" class="img-item"></div>
              <style>
                #img-5 {
                  background-image: url('/images/img-item3.jpg');
                }
              </style>
            </div>
          </div>
        </div>

        <button class="btn btn-muat btn-primary btn-lg btn-custom mt-3">Muat Lainnya</button>

      </div>
    </div>
  </div>
</section>