<section class="global-section informasi pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-8 .offset-md-2">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Berita</h3>

        <% listBerita.forEach((berita) => { %>
          <div class="card bg-white">
            <div class="row">
              <div class="col-md-9">
                <div class="card-body">
                  <a href="detail.html">
                    <h5 class="card-title font-weight-bold"><%= berita.title %></h5>
                  </a>
                  <p><%= berita.content %></p>
                </div>
              </div>
              <div class="col-md-3">
                <div id="img-1" class="img-item">
                  <img src="/images/<%= berita.filename %>" alt="" style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
        <% }); %>
        <!-- <button class="btn btn-muat btn-primary btn-lg btn-custom mt-3">Muat Lainnya</button> -->

      </div>
    </div>
  </div>
</section>