<section class="global-section agenda pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-10">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Agenda</h3>
        <div class="card">
          <div class="card-header">
            <h6 class="font-weight-bold">Agenda Desa Tunreng Tellue</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <a href="">
                  <h6 class="card-title font-weight-bolder">Lelangan Tanah Kas Desa MT.2018</h6>
                </a>
                <p class="text-secondary mb-4">Selasa, 22 September 2018 (Jam 10:00)</p>
                <a href="">
                  <h6 class="card-title font-weight-bolder">Upacara di Halaman Kecamatan Pakaian KORPRI</h6>
                </a>
                <p class="text-secondary mb-4">Senin, 21 September 2018 (Jam 08:00)</p>
                <a href="">
                  <h6 class="card-title font-weight-bolder">Upacara di Halaman Kecamatan Pakaian KORPRI</h6>
                </a>
                <p class="text-secondary mb-4">Senin, 21 September 2018 (Jam 07:00)</p>
                <a href="">
                  <h6 class="card-title font-weight-bolder">Musrenbangdes di Balai Desa</h6>
                </a>
                <p class="text-secondary mb-4">Sabtu, 18 September 2018 (Jam 09:00)</p>
                <a href="">
                  <h6 class="card-title font-weight-bolder">Musrenbangdes di Balai Desa</h6>
                </a>
                <p class="text-secondary mb-4">Sabtu, 18 September 2018 (Jam 19:30)</p>

              </div>
              <div class="col-md-6">

                <a href="">
                  <h6 class="card-title font-weight-bolder">Lelangan Tanah Kas Desa MT.2018</h6>
                </a>
                <p class="text-secondary mb-4">Selasa, 22 September 2018 (Jam 10:00)</p>
                <a href="">
                  <h6 class="card-title font-weight-bolder">Upacara di Halaman Kecamatan Pakaian KORPRI</h6>
                </a>
                <p class="text-secondary mb-4">Senin, 21 September 2018 (Jam 08:00)</p>
                <a href="">
                  <h6 class="card-title font-weight-bolder">Upacara di Halaman Kecamatan Pakaian KORPRI</h6>
                </a>
                <p class="text-secondary mb-4">Senin, 21 September 2018 (Jam 07:00)</p>
                <a href="">
                  <h6 class="card-title font-weight-bolder">Musrenbangdes di Balai Desa</h6>
                </a>
                <p class="text-secondary mb-4">Sabtu, 18 September 2018 (Jam 09:00)</p>
                <a href="">
                  <h6 class="card-title font-weight-bolder">Musrenbangdes di Balai Desa</h6>
                </a>
                <p class="text-secondary mb-4">Sabtu, 18 September 2018 (Jam 19:30)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>