<section class="global-section info-geografis pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-10">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Info Geografis</h3>
        <div class="row">

          <div class="col-md-6">
            <table class="table bg-white">
              <thead>
                <tr>
                  <th scope="col" colspan="4" class="align-middle">
                    <h5 class="font-weight-bold" style="padding:10px 0px;">Luas Wilayah</h5>
                  </th>
                </tr>
                <tr>
                  <td>Luas Tanah Sawah</td>
                  <td class="font-weight-bold">221.80 Ha</td>
                </tr>
                <tr>
                  <td>Luas Tanah Sawah</td>
                  <td class="font-weight-bold">221.80 Ha</td>
                </tr>
                <tr>
                  <td>Luas Tanah Sawah</td>
                  <td class="font-weight-bold">221.80 Ha</td>
                </tr>
                <tr>
                  <td>Luas Tanah Sawah</td>
                  <td class="font-weight-bold">221.80 Ha</td>
                </tr>
                <tr>
                  <td>Luas Tanah Sawah</td>
                  <td class="font-weight-bold">221.80 Ha</td>
                </tr>
                <tr>
                  <td>Luas Tanah Sawah</td>
                  <td class="font-weight-bold">221.80 Ha</td>
                </tr>
                <tr>
                  <td colspan="2" class="text-center">
                    <div class="card text-white bg-primary">
                      <div class="card-body pt-5 pb-5">
                        <h2 class="card-title font-weight-bold">2.230,72 Ha</h2>
                        Total Luas Wilayah
                      </div>
                    </div>
                  </td>
                </tr>
              </thead>
            </table>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <table class="table bg-white">
                  <thead>
                    <tr>
                      <th scope="col" colspan="4" class="align-middle">
                        <h5 class="font-weight-bold" style="padding:10px 0px;">Batas Wilayah</h5>
                      </th>
                    </tr>
                    <tr>
                      <td>Sebelah Utara</td>
                      <td>Desa Pao-Pao</td>
                      <td>Barru</td>
                    </tr>
                    <tr>
                      <td>Sebelah Selatan</td>
                      <td>Desa Pancana</td>
                      <td>Pangkep</td>
                    </tr>
                    <tr>
                      <td>Sebelah Selatan</td>
                      <td>Desa Pancana</td>
                      <td>Barru</td>
                    </tr>
                    <tr>
                      <td>Sebelah Barat</td>
                      <td>Selat Makassar</td>
                      <td>Selat Makassar</td>
                    </tr>
                    <tr>
                  </thead>
                </table>
              </div>

              <div class="col-md-12">
                <table class="table bg-white">
                  <thead>
                    <tr>
                      <th scope="col" colspan="4" class="align-middle">
                        <h5 class="font-weight-bold" style="padding:10px 0px;">Keadaan Iklim</h5>
                      </th>
                    </tr>
                    <tr>
                      <td>Curah Hujan</td>
                      <td class="font-weight-bold">2,00 mm</td>
                    </tr>
                    <tr>
                      <td>Jumlah Bulan Hujan</td>
                      <td class="font-weight-bold">6,00 Bulan</td>
                    </tr>
                    <tr>
                      <td>Kelembapan</td>
                      <td class="font-weight-bold">80,00</td>
                    </tr>
                    <tr>
                      <td>Suhu Rata-rata Harian</td>
                      <td class="font-weight-bold">22,00</td>
                    </tr>
                    <tr>
                      <td>Tinggi Tempat dari Permukaan laut</td>
                      <td class="font-weight-bold">8,00 mdl</td>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>