<section class="global-section info-demografis pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-10">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Info Demografis</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h6 class="font-weight-bold float-left">Jumlah Penduduk</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-8">
                    <ul>
                      <li>
                        <i class="far fa-circle pr-3"></i> Laki-Laki
                        <b class="float-right">1.999</b>
                        <hr>
                      </li>
                      <li>
                        <i class="far fa-circle pr-3"></i> Perempuan
                        <b class="float-right">1.771</b>
                        <hr>
                      </li>

                      <li>
                        <b>Total Penduduk</b>
                        <b class="float-right">3.770</b>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="col">
            <table class="table bg-white">
              <thead>
                <tr>
                  <th scope="col" colspan="4" class="align-middle">
                    <h5 class="font-weight-bold" style="padding:10px 0px;">Komposisi Penduduk Berdasarkan Etnis</h5>
                  </th>
                </tr>
                <tr>
                  <td>Banten</td>
                  <td class="font-weight-bold">1.893</td>
                </tr>
                <tr>
                  <td>Sunda</td>
                  <td class="font-weight-bold">530</td>
                </tr>
                <tr>
                  <td>Jawa</td>
                  <td class="font-weight-bold">661</td>
                </tr>
                <tr>
                  <td>Lainnya</td>
                  <td class="font-weight-bold">290</td>
                </tr>
              </thead>
            </table>
          </div>
          <div class="col">
            <table class="table bg-white">
              <thead>
                <tr>
                  <th scope="col" colspan="4" class="align-middle">
                    <h5 class="font-weight-bold" style="padding:10px 0px;">Komposisi Penduduk Berdasarkan Usia</h5>
                  </th>
                </tr>
                <tr>
                  <td>0 - 1</td>
                  <td class="font-weight-bold">272</td>
                </tr>
                <tr>
                  <td>1 - 5</td>
                  <td class="font-weight-bold">353</td>
                </tr>
                <tr>
                  <td>5 - 7</td>
                  <td class="font-weight-bold">348</td>
                </tr>
                <tr>
                  <td>7 - 15</td>
                  <td class="font-weight-bold">309</td>
                </tr>
                <tr>
                  <td>15 - 56</td>
                  <td class="font-weight-bold">1.011</td>
                </tr>
                <tr>
                  <td>> 56</td>
                  <td class="font-weight-bold">624</td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>