<section class="global-section info-demografis pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-10">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Info Demografis</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h6 class="font-weight-bold float-left">Jumlah Penduduk Tahun ini</h6>
                <span class="float-right">-14.64% <a href=""><i class="fas fa-angle-down"></i></a> </span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-4">
                    tes
                  </div>
                  <div class="col-sm-8">
                    <ul>
                      <li>
                        <i class="far fa-circle pr-3"></i> Laki-Laki
                        <b class="float-right">1.163</b>
                        <hr>
                      </li>
                      <li>
                        <i class="far fa-circle pr-3"></i> Laki-Laki
                        <b class="float-right">1.143</b>
                        <hr>
                      </li>

                      <li>
                        <b>Total Penduduk</b>
                        <b class="float-right">2.306</b>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h6 class="font-weight-bold float-left">Jumlah Penduduk Tahun ini</h6>
                <span class="float-right">-9.28% <a href=""><i class="fas fa-angle-down"></i></a></span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-4">
                    tes
                  </div>
                  <div class="col-sm-8">
                    <ul>
                      <li>
                        <i class="far fa-circle pr-3"></i> Laki-Laki
                        <b class="float-right">1.282</b>
                        <hr>
                      </li>
                      <li>
                        <i class="far fa-circle pr-3"></i> Laki-Laki
                        <b class="float-right">1.339</b>
                        <hr>
                      </li>

                      <li>
                        <b>Total Penduduk</b>
                        <b class="float-right">2.621</b>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2 p-3">
          <table class="table bg-white table-responsive-sm">
            <thead>
              <tr>
                <th scope="col" colspan="4" class="align-middle">
                  <h5 class="font-weight-bold" style="padding:10px 0px;">Jumlah Keluarga</h5>
                </th>
              </tr>
              <tr>
                <th scope="col">Jenis</th>
                <th scope="col">KK Laki-Laki</th>
                <th scope="col">KK Perempuan</th>
                <th scope="col">Total KK</th>
                <th>Perkembangan (%)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Kepala Keluarga Tahun ini</td>
                <td>825 KK</td>
                <td>96 KK</td>
                <td class="font-weight-bold">921 KK</td>
                <td>18.03%</td>
              </tr>

              <tr>
                <td>Kepala Keluarga Tahun ini</td>
                <td>825 KK</td>
                <td>96 KK</td>
                <td class="font-weight-bold">921 KK</td>
                <td>18.03%</td>
              </tr>
            </tbody>
          </table>


        </div>
        <!-- end table -->
        <div class="row">
          <div class="col">
            <table class="table bg-white">
              <thead>
                <tr>
                  <th scope="col" colspan="4" class="align-middle">
                    <h5 class="font-weight-bold" style="padding:10px 0px;">Struktur Umum</h5>
                  </th>
                </tr>
                <tr>
                  <th scope="col">Usia / Bulan</th>
                  <th scope="col">Laki-Laki</th>
                  <th scope="col">Perempuan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0 -12 Bulan</td>
                  <td>2 Orang</td>
                  <td>1 Orang</td>
                </tr>

                <tr>
                  <td>1 Tahun</td>
                  <td>8 Orang</td>
                  <td>7 Orang</td>
                </tr>
                <tr>
                  <td>0 -12 Bulan</td>
                  <td>2 Orang</td>
                  <td>1 Orang</td>
                </tr>

                <tr>
                  <td>1 Tahun</td>
                  <td>8 Orang</td>
                  <td>7 Orang</td>
                </tr>
                <tr>
                  <td>0 -12 Bulan</td>
                  <td>2 Orang</td>
                  <td>1 Orang</td>
                </tr>

                <tr>
                  <td>1 Tahun</td>
                  <td>8 Orang</td>
                  <td>7 Orang</td>
                </tr>
                <tr>
                  <td>0 -12 Bulan</td>
                  <td>2 Orang</td>
                  <td>1 Orang</td>
                </tr>

                <tr>
                  <td>1 Tahun</td>
                  <td>8 Orang</td>
                  <td>7 Orang</td>
                </tr>
                <tr>
                  <td>0 -12 Bulan</td>
                  <td>2 Orang</td>
                  <td>1 Orang</td>
                </tr>

                <tr>
                  <td>1 Tahun</td>
                  <td>8 Orang</td>
                  <td>7 Orang</td>
                </tr>
                <tr>
                  <td>1 Tahun</td>
                  <td>8 Orang</td>
                  <td>7 Orang</td>
                </tr>
                <tr>
                  <td>1 Tahun</td>
                  <td>8 Orang</td>
                  <td>7 Orang</td>
                </tr>
                <tr>
                  <td>1 Tahun</td>
                  <td>8 Orang</td>
                  <td>7 Orang</td>
                </tr>
                <tr>
                  <td>1 Tahun</td>
                  <td>8 Orang</td>
                  <td>7 Orang</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col">
            <table class="table bg-white">
              <thead>
                <tr>
                  <th scope="col" colspan="4" class="align-middle">
                    <h5 class="font-weight-bold" style="padding:10px 0px;">Pekerjaan</h5>
                  </th>
                </tr>
                <tr>
                  <td>Karyawan</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Pegawai Negeri Sipil</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>TNI/Polri</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Swasta/BUMN</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Wiraswasta/Pedagang</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Petani</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Buruh Tani</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Nelayan</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Peternak</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Jasa</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Pengrajin</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Pekerja Seni</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Pensiunan</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
                <tr>
                  <td>Lainnya</td>
                  <td class="font-weight-bold">1.740 Orang</td>
                </tr>
                <tr>
                  <td>Tidak Bekerja/Pengangguran</td>
                  <td class="font-weight-bold">26 Orang</td>
                </tr>
              </thead>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>