<section class="menus">
  <ul class="list-unstyled">
    <li class="active"><a href="index.html">Beranda</a></li>
    <li><a href="informasi.html">Informasi</a></li>
    <li><a href="profil.html">Profil</a></li>
    <li><a href="lembaga.html">Lembaga</a></li>
    <li><a href="tentang.html">Tentang</a></li>
    <li><a href="data.html">Data</a></li>
    <li>
      <div class="container">
        <form action="#">
          <div>
            <div class="input-icon">
              <input type="email" name="email" id="email" placeholder="Telusuri halaman" />
              <i class="fa fa-search"></i>
            </div>
          </div>
        </form>
      </div>
    </li>
  </ul>
</section>