<section class="global-section profil pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-9">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Sejarah Desa</h3>
        <div class="maps bg-white p-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31810.229697705385!2d120.3489473884611!3d-4.721576280517792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbdc35d5851744f%3A0x817ce9ca58557102!2sTunreng+Tellue%2C+Sibulue%2C+Kabupaten+Bone%2C+Sulawesi+Selatan!5e0!3m2!1sid!2sid!4v1537414717008"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

          <div class="row mt-4">
            <div class="col-md-11 m-auto">
              <h5 class="pb-3 font-weight-bold">Lorem ipsum dolor sit amet consectetur.</h5>
            </div>

            <div class="col-md-11 m-auto">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae fugiat nisi ratione accusamus
                vel
                debitis maxime perspiciatis porro aliquam eius, officia itaque tenetur ad dolor quam animi, ipsam
                minima adipisci quia alias consequuntur consectetur, inventore obcaecati est. Adipisci asperiores
                quas
                doloremque possimus architecto doloribus expedita dolores enim excepturi fugit ut error maxime,
                temporibus, molestiae aliquam, aspernatur nesciunt numquam incidunt libero ea! Animi perferendis
                distinctio iste, dolorum, nisi error recusandae non enim culpa in ab eius possimus cumque odit ipsam?
                Dolorem voluptas a at unde dicta quod enim incidunt expedita eius omnis. Et corporis, ducimus itaque
                quaerat fuga nesciunt accusamus veritatis laboriosam eius qui perferendis quibusdam voluptates
                excepturi non aut nulla id quis fugiat cumque nemo deserunt nostrum ratione. Mollitia dolorum ea, at,
                aspernatur voluptatem alias eaque ad autem quo deleniti est possimus quae ducimus optio recusandae
                quam
                animi qui maxime, explicabo id fugiat ipsa sit? Laboriosam quod doloremque, autem minus modi hic nam,
                ratione praesentium, dicta neque delectus alias blanditiis quam iure corrupti! Consequuntur, eos?
                Quia
                expedita unde pariatur doloremque, alias quidem saepe commodi cumque provident cupiditate ex aliquid
                temporibus veniam laboriosam ipsam iure distinctio id deleniti, dolorem blanditiis earum laborum
                incidunt minus minima. Magni cumque itaque tempora quia consequuntur?</p>
            </div>
          </div>
        </div>

        <div class="row mt-2 p-3">
          <table class="table table-responsive-sm bg-white">
            <thead>
              <tr>
                <th scope="col" colspan="4" class="align-middle">
                  <h5 class="font-weight-bold" style="padding:10px 0px;">Periodesasi Kepemimpinan Kepala Desa</h5>
                </th>
              </tr>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Periode</th>
                <th scope="col">Kepala Desa</th>
                <th scope="col">Keterangan</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2017 - 2023</td>
                <td class="font-weight-bold">Muhammad Ilyas Banno</td>
                <td>Kades III</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2014 - 2017</td>
                <td class="font-weight-bold">H. Muhammad Basri</td>
                <td>Pejabat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2008 - 2014</td>
                <td class="font-weight-bold">Nasri K Sewang</td>
                <td>Kades Periode II</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>2003 - 2008</td>
                <td class="font-weight-bold">Nasri K Sewang</td>
                <td>Kades II</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>1994 - 2003</td>
                <td class="font-weight-bold">Muh Nur Said</td>
                <td>Kades</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>