<section class="global-section profil pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-9">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Sejarah Desa</h3>
        <div class="maps bg-white p-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16260.008379059806!2d105.3027697199477!3d-5.430573436673958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e40dbf5c25c8d6d%3A0x8b30bcaa203cef21!2sWay%20Gubak%2C%20Kec.%20Panjang%2C%20Kota%20Bandar%20Lampung%2C%20Lampung!5e1!3m2!1sid!2sid!4v1644399488933!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

          <div class="row mt-4">
            <div class="col-md-11 m-auto">
              <h5 class="pb-3 font-weight-bold">Sejarah Desa <%= villageName %></h5>
            </div>

            <div class="col-md-11 m-auto">
              <p>Kelurahan Way Gubak merupakan sebuah kelurahan di Kota Bandar Lampung yang sebelumnya masuk ke dalam wilayah Way Lunik, Kecamatan Panjang, yang kemudian pada tahun 1988 memisahkan diri menjadi kelurahan Way Gubak, Kecamatan Panjang dengan Peraturan Daerah No.03 Tahun 1988, dan yang pada akhirnya di Tahun 2012, sesuai dengan Peraturan Derah Kota Bandar Lampung Nomor : 40 Tahun 2012  resmi masuk ke dalam wilayah Kecamatan Sukabumi, Kota Bandar Lampung, dengan luas wilayah sebesar 566 ha yang mencakup 2 (dua) Lingkungan dan terdiri dari 11 RT (Rukun Tetangga).</p>
            </div>
          </div>
        </div>

        <div class="row mt-2 p-3">
          <table class="table table-responsive-sm bg-white">
            <thead>
              <tr>
                <th scope="col" colspan="4" class="align-middle">
                  <h5 class="font-weight-bold" style="padding:10px 0px;">Periodesasi Kepemimpinan Kepala Desa</h5>
                </th>
              </tr>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Periode</th>
                <th scope="col">Kepala Desa</th>
                <th scope="col">Pendidikan</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>1988 – 1994</td>
                <td class="font-weight-bold">SYAHDAN SALEH</td>
                <td>SMA</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>1994 – 1997</td>
                <td class="font-weight-bold">AL IDRUS ANSYORI, BA.</td>
                <td>D3</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>1997 – 2006</td>
                <td class="font-weight-bold">EDY PONIMAN, BBA</td>
                <td>D3</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>2006 – 2009</td>
                <td class="font-weight-bold">SIDARMAN</td>
                <td>S1</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>2009 – 2011</td>
                <td class="font-weight-bold">A. LABAWAN, S.H.,M.H.</td>
                <td>S2</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>2011 – 2012</td>
                <td class="font-weight-bold">SAMSUDIN, S.H.(Plt)</td>
                <td>S1</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>2012 – 2013</td>
                <td class="font-weight-bold">ANTHONI IRAWAN, S.STP.,MM.</td>
                <td>S2</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>2013 - sekarang</td>
                <td class="font-weight-bold">EDY SAMSUL BAHRI</td>
                <td>SMA</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>