<section class="global-section tentang pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>
      <div class="col-md-8">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Sarana dan Prasarana</h3>

        <div class="row mb-3">

          <div class="col-md-12">
            <div class="card bg-white p-4">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore vel in harum similique nostrum
              blanditiis enim optio dolores architecto doloremque debitis error impedit quasi adipisci quidem
              aliquid,
              esse itaque animi asperiores reprehenderit perferendis sapiente veniam ad ullam! Temporibus, deserunt
              porro. Magnam ad voluptatibus tempora iste maxime quod veniam doloribus animi, nobis cum praesentium
              voluptatum tempore dolor voluptatem eaque voluptates, officia laudantium illo optio nostrum eos
              delectus
              dignissimos voluptas. Iusto sapiente nisi quod id officiis voluptates ullam expedita optio vero! Ipsam
              quod
              corporis odio! Quod, blanditiis quia ea sed aliquid cumque ipsa nam, dignissimos officia et aspernatur
              perspiciatis eveniet neque animi iure, omnis fugit cum! Iste dolore sapiente expedita nihil, dolor
              nostrum
              quod qui tempore consectetur, beatae soluta delectus dicta similique temporibus ut atque quam
              cupiditate
              vel enim veritatis nam. Maiores, beatae? Obcaecati ex sapiente, enim blanditiis reiciendis et adipisci
              rem
              inventore accusamus molestias totam commodi ut veritatis ab minima! Amet!
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-4">
            <div class="card bg-white p-4">
              <h5 class="font-weight-bold mb-3">Sarana dan Prasarana Pendidikan</h5>
              <img class="img-fluid mb-4" src="/images/sarana.png" alt="Sarana">
              <div class="row sub-img">
                <div class="col-md-4">
                  <a href="/images/sarana.png?image=251" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/sarana.png?image=251" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/images/masjid.png?image=251" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/masjid.png?image=251" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/images/kesehatan.png?image=251" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/kesehatan.png?image=251" class="img-fluid">
                  </a>
                </div>
              </div>
              <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At nesciunt modi, sint
                delectus
                rerum et
                distinctio. Dignissimos culpa omnis iste nulla porro ipsum. Veritatis sit, deleniti odit nihil harum
                exercitationem?</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-4">
            <div class="card bg-white p-4">
              <h5 class="font-weight-bold mb-3">Sarana dan Prasarana Kesehatan</h5>
              <img class="img-fluid mb-4" src="/images/kesehatan.png" alt="Sarana">
              <div class="row sub-img">
                <div class="col-md-4">
                  <a href="/images/sarana.png?image=251" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/sarana.png?image=251" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/images/masjid.png?image=251" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/masjid.png?image=251" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/images/kesehatan.png?image=251" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/kesehatan.png?image=251" class="img-fluid">
                  </a>
                </div>
              </div>
              <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At nesciunt modi, sint
                delectus
                rerum et
                distinctio. Dignissimos culpa omnis iste nulla porro ipsum. Veritatis sit, deleniti odit nihil harum
                exercitationem?</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-4">
            <div class="card bg-white p-4">
              <h5 class="font-weight-bold mb-3">Sarana dan Prasarana Tempat Ibadah</h5>
              <img class="img-fluid mb-4" src="/images/masjid.png" alt="masjid">
              <div class="row sub-img">
                <div class="col-md-4">
                  <a href="/images/sarana.png?image=251" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/sarana.png?image=251" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/images/masjid.png?image=251" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/masjid.png?image=251" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/images/kesehatan.png?image=251" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/kesehatan.png?image=251" class="img-fluid">
                  </a>
                </div>
              </div>
              <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At nesciunt modi, sint
                delectus
                rerum et
                distinctio. Dignissimos culpa omnis iste nulla porro ipsum. Veritatis sit, deleniti odit nihil harum
                exercitationem?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>