<section class="global-section tentang pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>
      <div class="col-md-8">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Sarana dan Prasarana</h3>

        <div class="row">
          <div class="col-md-12 mb-4">
            <div class="card bg-white p-4">
              <h5 class="font-weight-bold mb-3">Sarana dan Prasarana Pendidikan</h5>
              <img class="img-fluid mb-4" src="/images/Screenshot from 2022-02-09 20-00-32.png" alt="Sarana">
              <div class="row sub-img">
                <div class="col-md-4">
                  <a href="/images/Screenshot from 2022-02-09 20-00-32.png" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/Screenshot from 2022-02-09 20-00-32.png" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/images/Screenshot from 2022-02-09 20-09-55.png" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/Screenshot from 2022-02-09 20-09-55.png" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/images/Screenshot from 2022-02-09 20-16-40.png" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/Screenshot from 2022-02-09 20-16-40.png" class="img-fluid">
                  </a>
                </div>
              </div>
              <p class="mt-4">Beberapa sekolah dasar yang terdapat di <%= villageName %> diantaranya SDN 1 Way Gubak dan SDN 2 Way Gubak</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-4">
            <div class="card bg-white p-4">
              <h5 class="font-weight-bold mb-3">Sarana dan Prasarana Keagamaan</h5>
              <img class="img-fluid mb-4" src="/images/Screenshot from 2022-02-09 20-19-19.png" alt="Sarana">
              <div class="row sub-img">
                <div class="col-md-4">
                  <a href="/images/Screenshot from 2022-02-09 20-19-19.png" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/Screenshot from 2022-02-09 20-19-19.png" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/images/Screenshot from 2022-02-09 20-22-51.png" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/Screenshot from 2022-02-09 20-22-51.png" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/images/Screenshot from 2022-02-09 20-24-10.png" data-toggle="lightbox" data-gallery="gallery">
                    <img src="/images/Screenshot from 2022-02-09 20-24-10.png" class="img-fluid">
                  </a>
                </div>
              </div>
              <p class="mt-4">Beberapa sarana ibadah di <%= villageName %> diantaranya Masjid Ibrahim dan Masjid Nurul Yaqin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>