<div class="col-md-2" id="sidenav">
  <nav class="nav flex-column side-nav">
    <% sideNavItems.forEach((sideNavItem) => { %>
      <a class="nav-link <%= activateSideNav.toLowerCase() === sideNavItem.title.toLowerCase() ? 'active' : '' %>" href="<%= sideNavItem.href %>"><%= sideNavItem.title %></a>
    <% }); %>
  </nav>
</div>