<div class="col-md-2" id="sidenav">
  <nav class="nav flex-column side-nav">
    <a class="nav-link" href="informasi.html">Berita</a>
    <a class="nav-link" href="agenda.html">Agenda</a>
    <a class="nav-link active" href="info-demografis.html">Info Demografis</a>
    <a class="nav-link" href="info-geografis.html">Info Geografis</a>
  </nav>
</div>