<section class="global-section visimisi pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <nav class="nav flex-column side-nav">
          <a class="nav-link" href="profil.html">Sejarah</a>
          <a class="nav-link active" href="visimisi.html">Visi dan Misi</a>
          <a class="nav-link" href="asetdesa.html">Aset Desa</a>
        </nav>
      </div>

      <div class="col-md-10">
        <h3 class="font-weight-bold mb-3">Visi dan Misi</h3>

        <div class="row mt-2 p-3">
          <div class="col-md-6">
            <table class="table bg-white">
              <thead>
                <tr>
                  <th class="pt-3 pb-3">
                    <h5 class="font-weight-bold">Standar Operasional Proseder (SOP) Keluar Kampung Tangguh Pinang Jaya (KTPJ)</h5>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="font-weight-bold">1. Ketika diketahui bahwa akan ada warga yang keluar dari kampung KTPJ, petugas check point KTPJ akan menanyakan legalitas berupa Surat Keterangan dari RT / RW yang memuat tujuan, keperluan dan durasi keluar dari kapung tersebut.</p>
                    <hr>
                    <p class="font-weight-bold">2. Setelah warga yang akan keluar kampung menunjukan Surat Keterangan, maka petugas check point akan melakukan pengecekan suhu tubuh dan pendataan dalam buku mutast yang mana pertanggungjawaban buku tersebut akan dilaporkan kepada RT/RW, Tomas dan Bhabinkamtibmas</p>
                    <hr>
                    <p class="font-weight-bold">3. Apabila warga sudah memenuhi persyaratan untuk keluar kampung, selanjutnya dipersilakan kepada warga tersebut keluar kampung dengan tetap memperhatikan protokol kesehatan.</p>
                    <hr>
                    <p class="font-weight-bold">4. Ketika warga dimaksud selesai dengan kegiatannya diluar kampung, maka sekembalinya warga dimaksud, tiba di ceck point akan diberlakukan SOP WARGA MASUK KAMPUNG</p>
                    <hr>
                    <p class="font-weight-bold">5. Namun apabila warga tersebut tidak dapat mennjukan Surat Keterangan, maka petugas check Point KTPJ akan memberikan pemahaman agar warga tetap berada di dalam kampung.</p>
                    <hr>
                    <p class="font-weight-bold">6. Namun bila warga tersebut tetap berkehendak untuk keluar kampung, maka petugas check point akan melakukan pendataan dan segera melaporkan secara kepada RT ? RW, Tomas, Babinsa dan Bhabinkamtibmas</p>
                    <hr>
                    <p class="font-weight-bold">7. Selanjutnya petugas check Point akan tetap melaksanakan protokol prevenytive untuk mencegah warga tersebut meninggalkan kampung melalui kegiatan yang bersifat Dialektika Collaborative.</p>
                    <hr>
                    <p class="font-weight-bold">8. Namun bila warga tersebut tetap tidak mengindahkan anjuran dan peratran yang berlaku, maka petugas check point mempersilakan warga tersebut untuk keluar dengan tetap memperingatkan sanksi sosial yang akan diterima oleh warga tersebut</p>
                    <hr>
                    <p class="font-weight-bold">9. Sekembalinya warga tersebut, selanjutnya melalui koordinasi KTPJ akan menjatuhkan sanksi sosial kepada warga pelanggar, seperti membersihkan tempat ibadah, balai desa, poskamling dll.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
            <table class="table bg-white">
              <thead>
                <tr>
                  <th class="pt-3 pb-3">
                    <h5 class="font-weight-bold">Standar Operasional Prosedur (SOP) Masuk Kampung Tangguh Pinang Jaya (KTPJ)</h5>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="font-weight-bold">1. Ketika diketahui bahwa akan ada warga yang akan masuk ke kampung KTP), petugas check point KTPJ akan melakukan klasifikasi warga menjadi 2 bagian, yaitu a. Warga asli kampung KTP] b. Tamu</p>
                    <hr>
                    <p class="font-weight-bold">2. Setelah warga asli kampung pulang melakukan pengecekan suhu tubuh</p>
                    <hr>
                    <p class="font-weight-bold">3. Apabila warga lolos protokol kesehatan, maka dipersilakan kepada warga tersebut masuk kampung dengan tetap memperhatikan protokol kesehatan.</p>
                    <hr>
                    <p class="font-weight-bold">4. Kemudian terhadap warga asli yang tidak lolos protokol kesehatan, maka akan diarahkan oleh petugas ceck point menuju ke pos kesehatan KTP) untuk melaksanakan prosedur kesehatan lanjutan, hasil dari prosedur tersebut akan menjadi dasar apakah warga tersebut akan melaksanakan karantina mandiri atau dirujuk ke Rumah Sakit Rujukan COVID 19</p>
                    <hr>
                    <p class="font-weight-bold">5. Selanjutnya terhadap warga asli yang pulang akan dilihat kembali oleh petugas check point, apakah warga tersebut memiliki Surat Keterangan / Suket dari RT atau RW, terhadap warga asli yang tidak memiliki Surat Keterangan / Suket dari RT atau RW, maka petugas check Point KTPJ akan diberikan surat peringatan yang memuat sanksi sosial yang harus dilaksanakan.</p>
                    <hr>
                    <p class="font-weight-bold">6. Terhadap tamu yang akan masuk kampung KTP), maka petugas check point akan melakukan pendataan awal terkait asal daerah, tujuan dan alamat yang akan dituju.</p>
                    <hr>
                    <p class="font-weight-bold">7. Selanjutnya petugas check Point akan tetap melaksanakan protokol kesehatan yang udah ditetapkan.</p>
                    <hr>
                    <p class="font-weight-bold">8. Apabila warga tersebut dinyaatakan lolos protokol kesehatan, petugas check Point akan mempersilakan tamu tersebut masuk akmpung KTPJ</p>
                    <hr>
                    <p class="font-weight-bold">9. Namun terhadap tamu yang tidak lolos protokol kesehatan. petugas check Point tidak akan mempersilakan tamu tersebut masuk akmpung KTP), dan mempersilakan tamu dimaksud meinggalkan kampung KTP)</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>