<section class="global-section visimisi pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <nav class="nav flex-column side-nav">
          <a class="nav-link" href="profil.html">Sejarah</a>
          <a class="nav-link active" href="visimisi.html">Visi dan Misi</a>
          <a class="nav-link" href="asetdesa.html">Aset Desa</a>
        </nav>
      </div>

      <div class="col-md-10">
        <h3 class="font-weight-bold mb-3">Visi dan Misi</h3>

        <div class="row mt-2 p-3">
          <div class="col-md-6">
            <table class="table bg-white">
              <thead>
                <tr>
                  <th class="pt-3 pb-3">
                    <h5 class="font-weight-bold">Visi Desa Tunreng Tellue</h5>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="text-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum quasi
                      esse ad reiciendis
                      explicabo dolorem numquam distinctio exercitationem unde officia repellendus adipisci,
                      consequatur harum quae accusantium assumenda, ab pariatur tempore doloremque! Neque recusandae
                      enim quas consequatur amet tenetur deleniti voluptate reprehenderit molestias natus pariatur,
                      aspernatur exercitationem necessitatibus eius id distinctio, non rem quisquam perferendis quae
                      sapiente illum nostrum! Earum, pariatur, esse repudiandae id nam qui enim delectus dolor rem
                      facere voluptatum numquam quam iste modi magni incidunt molestias recusandae nobis quidem
                      debitis nihil distinctio officia. Provident, delectus quae nisi modi ullam repellendus ex
                      officia necessitatibus corporis impedit obcaecati ad maiores.</p>
                    <hr>
                    <p class="font-weight-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
                      reprehenderit nesciunt
                      veritatis reiciendis voluptates fugiat repellendus quos consequatur at enim, sit.</p>
                    <hr>
                    <p class="font-weight-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
                      reprehenderit nesciunt
                      veritatis reiciendis voluptates fugiat repellendus quos consequatur at enim, sit.</p>
                    <hr>
                    <p class="font-weight-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
                      reprehenderit nesciunt
                      veritatis reiciendis voluptates fugiat.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
            <table class="table bg-white">
              <thead>
                <tr>
                  <th class="pt-3 pb-3">
                    <h5 class="font-weight-bold">Misi Desa Tunreng Tellue</h5>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="text-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum quasi
                      esse ad reiciendis
                      explicabo dolorem numquam distinctio exercitationem unde officia repellendus adipisci,
                      consequatur harum quae accusantium assumenda, ab pariatur tempore doloremque! Neque recusandae
                      enim quas consequatur amet tenetur deleniti voluptate reprehenderit molestias natus pariatur,
                      aspernatur exercitationem necessitatibus eius id distinctio, non rem quisquam perferendis quae
                      sapiente illum nostrum! Earum, pariatur, esse repudiandae id nam qui enim delectus dolor rem
                      facere voluptatum numquam quam iste modi magni incidunt molestias recusandae nobis quidem
                      debitis nihil distinctio officia. Provident, delectus quae nisi modi ullam repellendus ex
                      officia necessitatibus corporis impedit obcaecati ad maiores.</p>
                    <hr>
                    <p class="font-weight-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
                      reprehenderit nesciunt
                      veritatis reiciendis voluptates fugiat repellendus quos consequatur at enim, sit.</p>
                    <hr>
                    <p class="font-weight-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
                      reprehenderit nesciunt
                      veritatis reiciendis voluptates fugiat repellendus quos consequatur at enim, sit.</p>
                    <hr>
                    <p class="font-weight-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
                      reprehenderit nesciunt
                      veritatis reiciendis voluptates fugiat.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>