<div class="tab-pane fade" id="tab2default">
  <div class="about-box">
    <h2><%= UMKMName %></h2>
    <% UMKMDescriptions.forEach((description) => { %>
      <p><%= description %></p>
    <% }); %>
  </div>
</div>