<head>
  <meta charset="UTF-8">
  <title><%= UMKMName %> - UMKM <%= villageName %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--enable mobile device-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--fontawesome css-->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <!--bootstrap css-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!--animate css-->
  <link rel="stylesheet" href="/css/animate-wow.css">
  <!--main css-->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/css/slick.min.css">
  <link rel="stylesheet" href="/css/select2.min.css">
  <!--responsive css-->
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>