<!-- Modal -->
<div class="modal fade lug" id="myModal" role="dialog">
  <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Change</h4>
        </div>
        <div class="modal-body">
           <ul>
              <li><a href="#"><img src="/images/flag-up-1.png" alt="" /> United States</a></li>
              <li><a href="#"><img src="/images/flag-up-2.png" alt="" /> France </a></li>
           </ul>
        </div>
     </div>
  </div>
</div>