<div class="panel-heading clearfix">
  <ul class="nav nav-tabs pull-left">
     <li class="active"><a href="#tab1default" data-toggle="tab">Produk <span><%= listProducts.length %></span></a></li>
     <li><a href="#tab2default" data-toggle="tab">Tentang Toko</a></li>
     <li><a href="#tab3default" data-toggle="tab">Kontak Kami</a></li>
  </ul>
  <!--
      <ul class="nav nav-tabs pull-right right-t">
         <li class="dropdown">
            <a href="#" data-toggle="dropdown">Sort <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
            </ul>
         </li>
         <li><a href="#tab5default" data-toggle="tab"><i class="fa fa-sliders" aria-hidden="true"></i> Refine</a></li>
      </ul>
   -->
</div>