<div class="col-md-2 col-sm-4 pr">
  <div class="profile-pro-left">
     <div class="left-profile-box-m">
        <div class="pro-img">
           <img src="<%= UMKMLogoLink %>" alt="<%= UMKMAltForLogo %>" />
        </div>
        <div class="pof-text">
           <h3><%= UMKMName %></h3>
           <span title="Toko Terverifikasi"><div class="check-box"></div></span>
        </div>
        <a href="#tab3default" data-toggle="tab">Kontak Toko</a>
     </div>
  </div>
</div>