<div id="sidebar" class="top-nav">
  <ul id="sidebar-nav" class="sidebar-nav">
     <li><a href="#">Help</a></li>
     <li><a href="#">How it works</a></li>
     <li><a href="#">Chamb for Business</a></li>
  </ul>
</div>