<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/dashboard-assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/dashboard-assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/dashboard-assets/libs/css/style.css">
    <link rel="stylesheet" href="/dashboard-assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/dashboard-assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/dashboard-assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/dashboard-assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/dashboard-assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/dashboard-assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Dashboard</title>
    <link rel="icon" href="/images/favicon.ico">
</head>

<body>
    <div class="dashboard-main-wrapper">
        <%- include('../../partials/dashboard/navbar'); %>
        <%- include('../../partials/dashboard/sidebar'); %>
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Dashboard Web Desa</h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Index</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ecommerce-widget">
                        <%- include('../../partials/dashboard/list-berita'); %>
                        <%- include('../../partials/dashboard/list-agenda'); %>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/dashboard-assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/dashboard-assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/dashboard-assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="/dashboard-assets/libs/js/main-js.js"></script>
</body>
</html>