<div class="page-content-product">
  <div class="main-product">
     <div class="container">
        <div class="row clearfix">
           <div class="find-box">
              <h1>Find your next product or<br>business partner here.</h1>
              <h4>It has never been easier.</h4>
           </div>
        </div>
     </div>
  </div>
</div>