<div class="cat-main-box">
  <div class="container">
     <div class="row panel-row">
        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.0s">
           <div class="panel panel-default">
              <div class="panel-body">
                 <img style="width: 90%; max-width: 120px; min-width: 50px; margin-left: 30%;" src="/images/original-icon.png" class="icon-small" alt="">
                 <h4>Produk dijamin 100% ORIGINAL!</h4>
                 <p>Semua produk yang Anda beli di sini akan selalu terjamin keaslian dan kualitasnya oleh UMKM unggulan kami.</p>
              </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
           <div class="panel panel-default">
              <div class="panel-body">
                 <img style="width: 90%; max-width: 120px; min-width: 50px; margin-left: 30%;" src="/images/high-quality-icon.png" class="icon-small" alt="">
                 <h4>Produk dengan kualitas tinggi!</h4>
                 <p>Kami hanya menyajikan produk dengan kualitas tertinggi demi pengalaman pembeli yang tinggi.</p>
              </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeIn hidden-sm" data-wow-delay="0.4s">
           <div class="panel panel-default">
              <div class="panel-body">
                 <img style="width: 90%; max-width: 120px; min-width: 50px; margin-left: 30%;" src="/images/best-price-icon.png" class="icon-small" alt="">
                 <h4>Harga terbaik untuk produk terbaik!</h4>
                 <p>Produk terbaik milik kami selalu dihargai dengan harga yang sesuai pada kelasnya.</p>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>