<div id="socialMedia" class="span2 pull-right">
  <h5>SOSIAL MEDIA <%= villageName.toUpperCase() %></h5>
  <a href="#"><img width="60" height="60" src="/product-index/images/facebook.png" title="facebook" alt="facebook"/></a>
  <a href="#"><img width="60" height="60" src="/product-index/images/twitter.png" title="twitter" alt="twitter"/></a>
  <a href="#"><img width="60" height="60" src="/product-index/images/youtube.png" title="youtube" alt="youtube"/></a>
</div> 