<div class="col-md-2 col-sm-4">
  <div class="left-profile-box-m prod-page">
     <div class="pro-img">
        <img src="<%= UMKMLogoLink %>" alt="<%= UMKMAltForLogo %>" />
     </div>
     <div class="pof-text">
        <h3><%= UMKMName %></h3>
        <span title="Toko Terverifikasi"><div class="check-box"></div></span>
     </div>
     <a href="<%= linkToUMKMProfilePage %>">Kunjungi Toko</a>
  </div>
</div>