<div class="btn-dit-list clearfix">
  <div class="left-dit-p">
     <div class="prod-btn">
        <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Sukai Product Ini</a>
        <p style="font-size: 12px;"><strong><%= totalLikes %></strong></p>
     </div>
  </div>
</div>